/* html elements */
.app-wrapper--white-theme pre {
  background: #333;
  color: #bbb;
}
.app-wrapper--white-theme p > code {
  background: #eee;
}
.app-wrapper--white-theme textarea {
  background: transparent;
}

/* root element */
.app-wrapper--white-theme {
  background: #fff;
}
.app-wrapper--white-theme * {
  outline-color: #000;
}

/* editor*/
.app-wrapper--white-theme .app-editor {
  border-right: 2px solid #ccc;
}

/* sidebar */
.app-wrapper--white-theme .app-sidebar__button {
  background: transparent;
  color: #000;
  border: 2px solid #ccc;
}
.app-wrapper--white-theme .app-sidebar__button:hover {
  background: #eee;
  border: 2px solid #ccc;
}
.app-wrapper--white-theme .app-sidebar__body {
  background: #fff;
  border-color: #eee;
  color: #000;
}
.app-wrapper--white-theme *:focus {
  border: 1px solid #333;
}