/* html elements */
.app-wrapper--white-theme pre {
  background: #333;
  color: #bbb;
}
.app-wrapper--white-theme p > code {
  background: #eee;
}
.app-wrapper--white-theme textarea { background: transparent; }

/* root element */
.app-wrapper--white-theme { background: #fff; }

/* sidebar */
.app-wrapper--white-theme .app-navigation {
  background: #333536;
}

/* button */
.app-wrapper--white-theme .app-control > button {
  color: #000;
}

/* layout */
.app-wrapper--white-theme .app-layout--focus textarea,
.app-wrapper--white-theme .app-layout--read .app-preview {
  box-shadow: 1px 1px 10px #dfdfdf;
}
