/* html elements */
.app-wrapper--white-theme pre {
  background: #333;
  color: #bbb;
}
.app-wrapper--white-theme p > code {
  background: #eee;
}
.app-wrapper--white-theme textarea { background: transparent; }

/* root element */
.app-wrapper--white-theme { background: #fff; }

/* sidebar */
.app-wrapper--white-theme .app-sidebar {
  background: #333536;
}

/* button */
.app-wrapper--white-theme .app-sidebar__buttons__btn,
.app-wrapper--white-theme .btn-list { color: #fff; }
.app-wrapper--white-theme .btn:hover,
.app-wrapper--white-theme .btn-list:hover {
  color: #5387a5
}
.app-wrapper--white-theme .app-control > button {
  color: #000;
}
