@import "./common/pulldown.css";
@import "./layout.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/**
 * Styles for particular elements
 */
p {
  line-height: 1.75em;
}
a,
a:visited {
  color: #42aef0;
}
hr {
  border-top: 0;
  border-bottom: 1px solid #ddd;
  margin: 1.5em 0;
}
blockquote {
  background-color: #eee;
  padding: 1em;
  border-radius: 0.2em;
}
blockquote p:first-child {
  margin: 0;
}

pre {
  padding: 1em 2em;
  overflow-x: scroll;
  word-spacing: 4px;
  line-height: 1.4em;
  width: 112%;
  margin-left: -6%;
}
p > code {
  padding: 3px 5px;
  border-radius: 3px;
}
ul {
  padding: 0 1.5em;
  list-style: disc;
}
ul ul {
  margin: 0.35em 0 0 0;
}
li {
  margin-top: 0.35em;
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
}
html,
body,
body > div {
  height: 100%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #404040;
  overflow: hidden;
  font-weight: 400;
}
body {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
h1,
h2 {
  margin-top: 1.4em;
}
h3,
h4,
h5,
h6 {
  margin-top: 1.2em;
}
p,
ul,
pre,
blockquote {
  margin-top: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
textarea {
  resize: none;
}
.app-preview h1 {
  font-size: 1.7em;
}
.app-preview h2 {
  font-size: 1.55em;
}
.app-preview h3 {
  font-size: 1.5em;
}
.app-preview h4 {
  font-size: 1.4em;
}
.app-preview h5 {
  font-size: 1.3em;
}
.app-preview h6 {
  font-size: 1.2em;
}
.app-preview p {
  font-size: 1.1em;
}
.app-preview table {
  margin-top: 1em;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.app-preview tr {
  border: 1px solid #ccc;
}
.app-preview th,
.app-preview td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

/**
 * Styles for classes
 */

/* Material Icons */
.material-icons {
  vertical-align: bottom;
}

#root,
.app-wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.app-navigation {
  font-weight: 300;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
}
.app-editor {
  grid-area: editor;
  padding-bottom: 2em;
  border-right: 1px solid #eee;
}
.app-editor > textarea {
  display: block;
  border: 0;
  font-size: 0.95em;
  width: 100%;
  height: 100%;
  overflow: scroll;
  word-spacing: 2px;
  line-height: 1.85em;
  padding: 2rem;
}
.app-editor > textarea::-webkit-scrollbar {
  display: none;
}
.app-editor textarea:focus {
  outline: 0;
}
.app-editor__btn {
  float: right;
  margin: 15px;
}
.app-preview {
  width: 100%;
  grid-area: preview;
  text-align: left;
  padding: 0 5% 1em 5%;
  overflow: scroll;
}
.app-preview::-webkit-scrollbar {
  display: none;
}

.app-control {
  position: absolute;
  right: 0;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  float: right;
  margin-right: 60px;
  opacity: 0.7;
}
.app-control > button {
  margin: 0 1em;
}
.app-control > button:hover {
  opacity: 1;
}

.page-header {
  display: inline-block;
  font-size: 0.9em;
  color: #333;
  padding: 10px 0;
}

/* Buttons */
.btn {
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  opacity: 0.7;
  font-size: 0.7em;
  background: transparent;
  vertical-align: middle;
}
.btn:hover {
  outline: 0;
}

/* Visibility */
.hidden {
  display: none;
}
