@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/**
 * Styles for particular elements
 */
p { line-height: 1.75em; }
a, a:visited {
  color: #42aef0;
}
hr {
  border-top: 0;
  border-bottom: 1px solid #ddd;
  margin: 1.5em 0;
}
blockquote {
  background-color: #eee;
  padding: 1em;
  border-radius: .2em;
}
blockquote p:first-child { margin: 0; }

.app-wrapper--white-theme { background: #fff; }
.app-wrapper--dark-theme { background: #333; }
.app-wrapper--white-theme pre {
  background: #f3f3f3;
  color: #333;
}
.app-wrapper--dark-theme pre {
  background: #f3f3f3;
  color: #333;
}
.app-wrapper--dark-theme blockquote {
  background: #222;
  color: #ccc;
}
pre {
  padding: 1em 2em;
  overflow-x: scroll;
  word-spacing: 4px;
  line-height: 1.4em;
  width: 111%;
  margin-left: -6%;
}
ul { padding: 0 1.5em; list-style: disc; }
ul ul { margin: .35em 0 0 0; }
li { margin-top: .35em; }
:focus { outline: 0; }
img { max-width: 100%; }
html, body {
  height: 100%;
} 
body {
  font-family: 'Roboto', 'Noto Sans Jp', sans-serif;
  color: #393939;
  overflow: hidden;
}
body { font-size: 15px; }
* { box-sizing: border-box; }
h1, h2, h3, h4, h5, h6, p, ul, pre, blockquote { margin-top: 1em; }
h1, h2, h3, h4, h5, h6 { font-weight: 400; letter-spacing: 1px; }
h1 { font-size: 1.6em; }
h2 { font-size: 1.45em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

/**
 * Styles for classes
 */

/* Material Icons */
.material-icons { vertical-align: bottom; }

#root, .app-wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.app-wrapper--white-theme { background: #fff; }
.app-wrapper--white-theme textarea,
.app-wrapper--white-theme .page-header {
  background: transparent;
}
.app-wrapper--dark-theme { background: #333; color: #eee; }
.app-wrapper--dark-theme textarea,
.app-wrapper--dark-theme .page-header {
  background: transparent;
  color: #ddd;
}
.app-wrapper--dark-theme .material-icons,
.app-wrapper--dark-theme .btn {
  background: #333;
  color: #eee;
}

.app-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 60px 0.98fr;
  grid-template-areas: 'header header' 'editor preview';
}
.app-header {
  padding: 20px 3em;
  font-weight: 300;
  grid-area: header;
}
.app-wrapper--white-theme .app-header {
  box-shadow: 1px 1px 1px #eee;
}
.app-wrapper--dark-theme .app-header {
  box-shadow: 1px 1px 1px #292929;
}
.app-list {
  overflow-y: scroll;
}

.app-list__item a {
  color: #eee;
  text-align: left;
  border-bottom: 1px solid #111;
  padding: 1.2em;
  display: block;
  text-decoration: none;
  transition: .1s;
  cursor: pointer;
  line-height: 1.8em;
}
.app-list__item a:hover, .app-list__item--active a {
  background: #000;
  color: #aaa;
}
.app-editor {
  grid-area: editor;
  padding-bottom: 2em;
  border-right: 1px solid #eee;
}
.app-editor textarea {
  border: 0;
  font-size: 1em;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 1em;
  word-spacing: 2px;
}
.app-editor textarea:focus { outline: 0; }
.app-preview {
  grid-area: preview;
  text-align: left;
  padding: 1em 5%;
  overflow: scroll;
}
.app-wrapper--dark-theme .app-editor {
  border-right: 1px solid #292929;
}

.app-preview__control { color: #fff; transition: .2s; float: right; cursor: pointer; }
.app-preview:hover .app-preview__control { color: #999; }
.app-preview:hover .app-preview__control:hover { color: #000; }
.page-header {
  display: inline;
  font-size: 1em;
  color: #333;
}

/* Buttons */
.btn {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  color: #999;
  opacity: .8;
  float: right;
  font-size: .7em;
  margin: 0 15px;
  background: transparent;
}
/* An icon without any icon */
.btn-text {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: .7em 1em;
  margin-top: -3px;
}
.app-wrapper--white-theme .btn-text:hover { border-color: #000; }
.app-wrapper--dark-theme .btn-text:hover { border-color: #eee; }
.app-wrapper--white-theme .btn:hover{ color: #000; }
.app-wrapper--dark-theme .btn:hover{ color: #ddd; }
.btn:hover,
.btn-control-point:hover {
  opacity: 1;
  outline: 0;
}

/* Visibility */
.hidden { display: none; }
