@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/**
 * Styles for particular elements
 */
hr {
  border-top: 0;
  border-bottom: 1px solid #ddd;
  margin: 1.5em 0;
}
blockquote {
  background-color: #eee;
  padding: 1em;
  border-radius: .2em;
}
blockquote p:first-child { margin: 0; }

pre {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1em;
  overflow-x: scroll;
}
ul { padding: 0 1.5em; list-style: disc; }
ul ul { margin: .35em 0 0 0; }
li { margin-top: .35em; }
:focus { outline: 0; }
img { max-width: 100%; }
html, body {
  height: 100%;
} 
body {
  font-family: 'Roboto', 'Noto Sans Jp', sans-serif;
  color: #293c4b;
  font-size: 16px;
  overflow: hidden;
}
* { box-sizing: border-box; }
h1, h2, h3, h4, h5, h6, p, ul, pre { margin-top: 1em; }
h1 { font-size: 2em; font-weight: 500;   margin-bottom: 0.5em;  }
h2 { font-size: 1.8em; font-weight: 500; margin-bottom: 0.5em;  }
h3 { font-size: 1.6em; font-weight: 500; margin-bottom: 0.5em;  }
h4 { font-size: 1.4em; font-weight: 500; margin-bottom: 0.5em;  }
h5 { font-size: 1.2em; font-weight: 500; margin-bottom: 0.5em;  }
h6 { font-size: 1em; font-weight: 500; }

/**
 * Styles for classes
 */

/* Material Icons */
.material-icons { vertical-align: bottom; }

#root, .app-wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.app-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 'header header' 'editor preview';
}
.app-header {
  border-bottom: 1px solid #eee;
  padding: 20px 3em;
  font-weight: 300;
  grid-area: header;
}
.app-list { }
.app-list__item a {
  color: #eee;
  text-align: left;
  border-bottom: 1px solid #222;
  padding: 1.5em;
  display: block;
  text-decoration: none;
  transition: .1s;
  cursor: pointer;
}
.app-list__item a:hover {
  background: #222;
  color: #fff;
}
.app-editor { grid-area: editor; }
.app-editor textarea {
  border: 0;
  padding: 1em;
  font-size: 1em;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.app-editor textarea:focus { outline: 0; }
.app-preview {
  grid-area: preview;
  text-align: left;
  padding: 1em 2em;
  border-left: 1px solid #ddd;
  overflow: scroll;
}
.app-preview__control { color: #fff; transition: .2s; float: right; cursor: pointer; }
.app-preview:hover .app-preview__control { color: #999; }
.app-preview:hover .app-preview__control:hover { color: #000; }
.page-header {
  display: inline;
  font-size: 1em;
  color: #333;
}

/* Buttons */
.btn {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  color: #999;
  opacity: .8;
  float: right;
  font-size: .7em;
  margin: 0 15px;
}
/* An icon without any icon */
.btn-text {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: .7em 1em;
  margin-top: -3px;
}
.btn-text:hover {
  border-color: #000;
}
.btn:hover,
.btn:hover,
.btn-control-point:hover {
  color: #000;
  opacity: 1;
  outline: 0;
}

/* Visibility */
.hidden { display: none; }
