html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: #293c4b;
  font-size: 16px;
}

#root, .app-wrapper {
  height: 100%;
}
/* Component Styles */
.app-container { display: flex; }
.app-header {
  width: 100%;
  height: 5%;
  border-bottom: 1px solid #eee;
}

.app-container, .app-editor, .app-preview {
  height: 95%;
}


.app-preview {
  text-align: left;
  padding: 1em 2em;
}

.app-editor {
  width: 40%;
}
.app-editor textarea {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 1em;
  font-size: 1em;
}
.app-editor textarea:focus {
  outline: 0;
}

.app-preview {
  width: 60%;
  border-left: 1px solid #ddd;
}

/* Common parts */
.btn-save, .btn-delete {
  width: 120px; height: 30px; border-radius: 10px; border: 1px solid #eee;
  background: #fafafa;
  cursor: pointer;
  float: right;
  margin: -5px 10px;
}
.btn-save:hover, .btn-delete:hover {
  background: #eee;
}
